{% extends 'core/base.html' %}

{% block title %}  Cadets | CadetLogbook  {% endblock title %}

{% load static %}

{% block header %}

    {% include 'header.html' with user_profile=profile %}

{% endblock header %}


{% block content %}


<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Cadets  </h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active">Cadets</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <h5 class="card-title">Cadets <span class="text-muted fw-normal ms-2">(834)</span></h5>
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-6">
                            <div class="d-flex flex-wrap align-items-start justify-content-md-end mt-2 mt-md-0 gap-2 mb-3">
                                <div>
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="contacts-list.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="List"><i class="uil uil-list-ul"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contacts-grid.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Grid"><i class="uil uil-apps"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#addContactModal"><i class="uil uil-plus me-1"></i> Add New</a>
                                </div>                                                    
                                <div class="dropdown">
                                    <a class="btn btn-link text-dark dropdown-toggle shadow-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="uil uil-ellipsis-h"></i>
                                    </a>
                                  
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div><!-- end dropdown -->
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <!-- Modal -->
                    <div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addContactModalLabel">Add Contact</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-4">
                                    <div>
                                        <div class="mb-3">
                                            <label for="addcontact-name-input" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="addcontact-name-input" placeholder="Enter Name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addcontact-designation-input" class="form-label">Designation</label>
                                            <input type="text" class="form-control" id="addcontact-designation-input" placeholder="Enter Designation">
                                        </div>
                                        <div class="mb-3">
                                            <label for="addcontact-file-input" class="form-label">User Image</label>
                                            <input type="file" class="form-control" id="addcontact-file-input">
                                        </div>

                                        <div class="mb-3">
                                            <label for="addcontact-email-input" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="addcontact-email-input" placeholder="Enter Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light w-sm" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary w-sm">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end modal -->

                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap table-check">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 50px;">
                                        <div class="form-check font-size-16">
                                            <input type="checkbox" class="form-check-input" id="checkAll">
                                            <label class="form-check-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Tags</th>
                                    <th style="width: 80px; min-width: 80px;">Action</th>
                                </tr><!-- end tr -->
                            </thead><!-- end thead -->
                            <tbody>

                                {% for cadet in cadets %}
                                    <tr>
                                        <th scope="row">
                                            <div class="form-check font-size-16">
                                                <input type="checkbox" class="form-check-input" id="contacusercheck1">
                                                <label class="form-check-label" for="contacusercheck1"></label>
                                            </div>
                                        </th>
                                        <td>
                                            <img src="{{ cadet.smart.url }}" alt="" class="avatar-sm rounded-circle me-2">
                                            <a href="{% url 'core:cadet_profile' cadet.id %}" class="text-body fw-medium">{{ cadet.user.first_name }} {{ cadet.user.last_name }} </a>
                                        </td>
                                        <td>{{ cadet.account_type | capfirst }}</td>
                                        <td>{{ cadet.user.email }}</td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="#" class="badge badge-soft-primary">Photoshop</a>
                                                <a href="#" class="badge badge-soft-primary">illustrator</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="uil uil-ellipsis-h"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr><!-- end tr -->
                                    
                                {% endfor %}
                
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                    </div><!-- end table responsive -->

                    <div class="row g-0 text-center text-sm-start">
                        <div class="col-sm-6">
                            <div>
                              
                            </div>
                        </div>
                        <!-- end col -->
                   
                    </div><!-- end row -->
                    
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->
    
</div>


{% endblock content %}