{% extends 'core/base.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}  Dashboard | CadetLogbook  {% endblock title %}

{% block css %}

    <link href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css">
            
{% endblock css %}

{% block header %}

    {% include 'header.html' with user_profile=profile %}

{% endblock header %}

{% block content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Update Logbook Entry</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Logbook</a></li>
                        <li class="breadcrumb-item active">Create Entry</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div>
                        <ul class="wizard-nav mb-5">
                            <li class="wizard-list-item">
                                <div class="list-item active">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="uil uil-clipboard-notes"></i>
                                    </div>
                                </div>
                            </li>
                            <li class="wizard-list-item">
                                <div class="list-item">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="uil uil-users-alt"></i>
                                    </div>
                                </div>
                            </li>

                            <li class="wizard-list-item">
                                <div class="list-item">
                                    <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <i class="uil uil-paperclip"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- wizard-nav -->

                        <div class="wizard-tab" style="display: block;">
                            <div class="text-center mb-4">
                                <h5>Update CadetLogbook</h5>
                                <p class="card-title-desc">Fill all information below</p>
                                <span style="color: red;">{{ form.non_field_errors }}</span>
                            </div>
                            <form action="{% url 'core:update_logbook_entry' logbook_instance %}" method="POST" onsubmit='disableButton()'>
                                {% csrf_token %}
                               
                                <div>
                                    <span style="color:red">{{ form.work_title.errors}}</span>
                                    <div class="mb-3">
                                        
                                        <label for="work_title" class="form-label">Work Title</label>
                                        {% render_field form.work_title id="work_title" type="text" class="form-control" placeholder="Work Title" %}
                                    </div>
                                    
                                      <span style="color:red">{{ form.form.description_of_work.errors}}</span>
                                    <div class="mb-3">
                                        <label for="projectdesc" class="form-label">Description Of Work Done</label>
                                        {% render_field form.description_of_work class="form-control" id="projectdesc" rows="3" placeholder="Work Description..." %}
                                    
                                    </div>
                                    
                                    

                                    <span style="color:red">{{ form.department.errors}}</span>
                                    <div class="mb-3">
                                        <label for="cadet_department" class="form-label"> Department: </label>
                                        {% render_field form.department class="form-select form-control"  id="cadet_department" placeholder="Department" %}
                                    </div>  


                                    <span style="color:red">{{ form.end_date.errors}}</span>
                                    <div class="mb-3">
                                        <label class="form-label"> End Date : </label>
                                        {% render_field form.end_date type="date" class="form-control" id="date" %}
                                    </div>  


                                </div>

                                <div class="d-flex align-items-start gap-3 mt-4">
                                    <button type="submit" id='btn' class="btn btn-primary w-sm ms-auto">Update Logbook</button>
                                </div>

                            </form>
                        </div>
                        

                    
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row --> 
</div>
 
{% endblock content %}

{% block script %}

    <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>

    <!-- init js -->
    <script src="{% static 'assets/js/pages/project-create.init.js' %}"></script>

    <script src="{% static 'assets/js/app.js' %}"></script>

<script>
    function disableButton() {
        var btn = document.getElementById('btn');
        btn.disabled = true;
        btn.innerText = 'Please Wait...'
    }
</script>

{% endblock script %}